.container{
    background-color: #915C5C;
    height: 200px;
    width: 70%;
    border-style: solid;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filha-container{
    background-color: white;
    height: 100px;
    width: 60%;
    border-style: solid;
    border-width: 10px;
    border-color: darkblue;
    font-size: 20px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filha-azul{
    background-color: blue;
    width: 70%;
    height: 25px;
}

.filha-roxo{
    background-color: purple;
    width: 35%;
    height: 25px;
}

.filha-verde{
    background-color: green;
    width: 60%;
    height: 25px;
}

.filha-amarelo{
    background-color: yellow;
    width: 52%;
    height: 25px;
}

.container3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.filha-vermelho{
    background-color: red;
    width: 52%;
    height: 25px;
}

.filha-verdeagua{
    background-color: darkcyan;
    width: 30%;
    height: 25px;
}

.filha-verdeclaro{
    background-color: lime;
    width: 52%;
    height: 25px;
}